
body{
padding: 75px 0 100px 96px;
margin: 0px;
background-color: rgb(249, 249, 249);
padding-right: 24px;
font-family: Roboto,Arial, Helvetica, sans-serif;

}
button{
cursor: pointer;
}

@media (min-width: 1200.1px) {
  body {
    margin-left: 168px;
  }
}